:root {
	--color-pri-h: 200;
	--color-pri-s: 100%;
	--color-pri-l: 50%;
	--color-pri: hsl(var(--color-pri-h), var(--color-pri-s), var(--color-pri-l));
	--color-sec: hsl(
		calc(var(--color-pri-h) + 180),
		var(--color-pri-s),
		var(--color-pri-l)
	);
	--color-pri--dark: hsl(
		var(--color-pri-h),
		var(--color-pri-s),
		calc(var(--color-pri-l) - 25%)
	);
	--color-pri--light: hsl(
		var(--color-pri-h),
		var(--color-pri-s),
		calc(var(--color-pri-l) + 25%)
	);
	--color-pri--desat: hsl(
		var(--color-pri-h),
		calc(var(--color-pri-s) - 70%),
		var(--color-pri-l)
	);

	--color-bg: hsl(71, 8%, 35%);
	--color-bg--dark: hsl(71, 8%, 15%);
	--color-bg--light: hsl(0, 0%, 75%);
	--color-fore: hsl(60, 30, 96);
}
